<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/mainNav') %>
    <div class="row">
      <%- include('partials/sideBar') %>
      <div style="display: inline-block;" class="pageContent col-lg-10 row">
        <div class="col-10">
          <div class="userData">
            <img src="<%= loggedUser.imgURL %>" alt="...." style="width: 200px; height: 200px; border-radius: 50%; box-shadow: 3px 3px 5px 1px rgba(56, 55, 55, 0.756);">
            <label class="userData"> الاسم: <%= loggedUser.name %> </label>
          </div>
          
          <label class="userData"> الفصل:  <%= loggedUser.className %> </label>
          
          <label class="userData"> السن : <%= loggedUser.age %> سنة </label>
          <label class="userData"> تاريخ الميلاد : <%= loggedUser.birthDayDate %> </label>
          
          <label class="userData"> العنوان : <%= loggedUser.address %></label>
          <br>
        </div>
        <div class="col-10">
          <label class="userData"> تاريخ الشموسية : <%= loggedUser.shmosyaDate %>  </label>
          <label class="userData"> رقم التليفون: <%= loggedUser.phone %> </label>
          <br>
          <label class="userData"> رقم الواتس: <%= loggedUser.whats %> </label>
          <label class="userData"> أب الاعتراف : <%= loggedUser.father %>  </label>
          
        </div>
        
      </div>
    </div>
    
  </body>

</html>